<div class="mt-20"></div>
<div class="container py-10 sm:mx-auto md:px-32">
  <div role="tablist" class="tabs-boxed tabs">
    <a role="tab" class="tab text-xs font-semibold sm:text-base"
      >Book management</a
    >
    <a role="tab" class="tab tab-active text-xs font-semibold sm:text-base"
      >Transactions</a
    >
    <a role="tab" class="tab text-xs font-semibold sm:text-base"
      >User management</a
    >
  </div>
  <div class="p-4">
    <div class="rounded-lg border-2 border-info p-4">
      <app-books-management></app-books-management>
    </div>
  </div>
</div>
