<!-------------------- logout-modal  --------------------->
<dialog id="logoutModal" class="modal">
  <div class="modal-box w-5/6 max-w-sm bg-secondary p-4 md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 text-center sm:p-5">
      <button
        type="button"
        class="absolute right-1 top-1 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-lg text-gray-400 hover:bg-gray-200 hover:text-gray-900"
        (click)="closeLogoutModal()"
      >
        <i class="bx bxs-x-circle"></i>
      </button>
      <i class="fa-solid fa-right-from-bracket mb-2 text-4xl"></i>
      <p class="mb-4 text-textp">Are you sure you want to logout ?</p>
      <div class="flex items-center justify-center space-x-4">
        <button
          (click)="closeLogoutModal()"
          type="button"
          class="btn btn-outline btn-success btn-sm"
        >
          No, cancel
        </button>
        <button
          type="button"
          class="btn btn-error btn-sm bg-red-600 text-white"
          (click)="logout()"
        >
          Yes, I'm sure
          <span
            *ngIf="logoutLoading"
            class="loading loading-spinner loading-sm ml-2 text-white"
          ></span>
        </button>
      </div>
    </div>
  </div>
</dialog>
<!-------------------- logout-modal-end  --------------------->
<nav class="fixed top-0 z-20 w-full border-b border-textp bg-secondary">
  <div class="container navbar mx-auto my-0 flex h-20 flex-row justify-between">
    <div class="flex flex-row space-x-20">
      <a class="flex items-center space-x-3" routerLink="/"
        ><img
          src="../../../../favicon.ico"
          width="60px"
          alt=""
          class="rounded-full"
        />
        <h1 class="text-2xl font-bold">Library Manager</h1>
      </a>
    </div>

    <ng-container *ngIf="user$ | async as user; else guestNav">
      <ng-container *ngIf="user?.loggedIn; else guestNav">
        <div class="flex flex-row space-x-5">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="avatar btn btn-circle btn-ghost">
              <div
                class="w-10 rounded-full ring-1 ring-primary ring-offset-1 ring-offset-base-100"
              >
                <img src="../../../../assets/images/profileImage.png" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="menu dropdown-content menu-sm z-[1] mt-3 w-40 rounded-box bg-secondary p-2 text-textp shadow"
            >
              <li>
                <a class="text-lg font-medium text-textp" routerLink="/profile"
                  ><i class="bx bx-user-circle mr-3"></i>Profile</a
                >
              </li>
              <li>
                <a
                  class="text-lg font-medium text-textp"
                  (click)="showLogoutModal()"
                  ><i class="bx bxs-exit mr-2"></i> Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #guestNav>
      <div class="mr-10 hidden flex-row space-x-5 md:flex">
        <a
          class="border-primary px-3 font-semibold text-texts"
          routerLink="/login"
          routerLinkActive="border-b-4"
          >Login</a
        >
        <a
          class="border-primary px-3 font-semibold text-texts"
          routerLink="/signup"
          routerLinkActive="border-b-4"
          >Sign Up</a
        >
      </div>
    </ng-template>
  </div>
</nav>
